* { margin: 0; padding: 0; }

@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.btn { 
    display: inline-block;
    text-decoration: none;
    background: #fff;
    padding: 8px 30px;
    border: 2px solid #2d7ac2;
    border-radius: 12px;
    font-weight: bolder;
    color: #2d7ac2;
    box-shadow: 0 8px 0 #285d92;
    transition: all 0.2s;
    text-align: center;
}
.btn:hover {
    background-color: #2d7ac2;
    color: #fff;
}
.btn:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 #2d7ac2;
}

a { text-decoration: none; }

:root {
    --maincolor : #2d7ac2;
    --mainDark : #285d92;
    --mainOrange : rgb(255, 136, 0);
    --mainDarkOrange : #cc6d00;
}

.bolder {
    font-weight: bolder;
}

.p-15 {
    padding: 15px;
}

.font {
    font-family: 'LeferiPoint-WhiteA';
}