#main {
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  width: 500px;
  height: 800px;
  position: relative;
}

#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

#users {
  width: 50%;
  position: absolute;
  left: 105%;
  top: 10%;
  background-color: antiquewhite;
}

.connect {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

.me {
  width: 90%;
  margin: auto;
  background-color: lemonchiffon;
  border-radius: 5px;
  margin-top: 10px;
  text-align: right;
}

.other {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
}
