*{margin: 0; padding: 0; box-sizing: border-box;}
body, html{height: 100%; position: relative;}
#log{
  padding: 30px 10px;
  position: relative;
}
#log button{
  position: absolute;
  right: 10px;
  background-color: rgb(176, 195, 230);
  border: 0;
  padding: 3px 10px;
  color: white;
  border-radius: 5px;
}
#list_head{padding: 0px 15px;}
#list_body{position: relative;}
#list_body .list_box{
  display: flex;
  padding: 20px 20px;
}
#list_body .list_box img{width: 30px; height: 30px;}
#list_body .list_box .hambg{
  margin-right: 15px;
  margin-top: 5px;
}
#list_body .list_box .star{
  position: absolute;
  right: 25px;
  margin-top: 5px;
}
#list_body .list_box .text .text_s{
  font-size: small;
}
#req{
  position: absolute;
  bottom: 30px;
  width: 100%;
}
#req button{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border-color: rgb(73, 73, 231);
  font-size: medium;
  display: block;
  margin: 0 auto;
  background-color: white;
}