*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .wrap{
  height: 100%;
}

.header{
  background-color: rgb(238, 77, 77);
  color: white;
  width: 15%;
  float: left;
  height: 100%;
}

.header .logo{
  font-family: 'Shrikhand';
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

.header .nav__title{
  padding-left: 1rem;
  background-color: rgb(230, 118, 118);
  display: inline-block;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}

.header .nav__item{
  margin: 1rem 1rem;
}

.header .nav__item:last-child{
  margin-bottom: 4rem;
}

.header a{
  color: white;
  text-decoration: none;
}

.top-bar{
  background-color: gainsboro;
  height: 3rem;
  width: 85%;
  display: flex;
  align-items: center;
}

.top-bar .search{float: left;}

.top-bar .search__label{display: none;}

.top-bar .search,  .search__form{
  width: 100%
}

.top-bar .search .search__form{
  width: 100%;
  padding-left: .5rem;
}

.top-bar .search .search__form input{
  width: 100%;
  height: 2rem;
}

.top-bar .profile{
  background-color: rgb(73, 73, 212);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.main{
  background-color: rgb(241, 241, 241);
  height: 95%;
}

.main .main__header{
  background-image: url('http://unsplash.it/1200/600?image=495');
  color: white;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.main .main__body{
  padding: 1rem;
  height: 80%;
}

.main .listing-card{
  height: 100%;
}

.main ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1rem));
  grid-template-rows: 300px;
  grid-gap: 10px;
  height: 616px;
  padding: 10px;
}

.main li{
background-color: white;
padding: 10px;
}

.main .listing-card__image{
  width: 260px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.main .listing-card__date{
  color: gray;
}